html {
    background: aliceblue;
}
h1 {
    color: white; 
    background: #5B72CD;
    font-size: 100px;
    font-family: helvetica;
    font-weight: bold;
    text-align: center;
  }

h1#article-title {
    color: white; 
    background: #6B86F3;
    font-size: 30px;
    font-family: helvetica;
    font-weight: bold;
    text-align: left;
  }
nav ul {
    background-color:aliceblue;
    list-style: none;
    padding: 0;
    border: 3px solid black;
    justify-content: center;
    display: flex;
}

nav ul li {
    font-family: helvetica;
    font-weight: bold;
    font-size: 40px;
    display: inline;
    margin: 0 20px;
    
}

nav ul li:last-child {
    border-bottom: none;
}

nav ul li a {
    color: black;
    text-decoration:none
}

nav ul li a:hover {
    text-decoration: underline;
}

figure {
    margin: 0;
    border: 3px solid black;
    padding: 5px;
    padding-bottom: 5px;
}

figure img {
    max-width: 50%;
    height: auto;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
}

figcaption {
    font-family: helvetica;
}

.wrap {
    float: right; 
    margin: 5px;
    max-width: 30%;
    height: 30%; 
   }

p {
    font-family: helvetica;
    line-height: 1.25;
    margin-bottom: 1.25em;
  }